{% extends 'base.html.twig' %}

{% block title %}Hello TopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-xs-4">
            <ul class="nav nav-pills nav-stacked">
                {{ sideMenu | trans |  raw }}
            </ul>
        </div>
    </div>
</div>


    <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul>
        <li><a href="{{ path(next_url, {'name' : 'a', 'id': '10'}) }}">Hello Page</a> </li>
        <li><a href="{{ path("test_entity_index") }}">Test Entity Page</a> </li>
    </ul>
</div>
{% endblock %}
